# Sesi 2

In [1]:
x = 0
y = 5

In [2]:
if x<y:
    print('yes')
    
if x>y:
    print('yes2')

yes

In [3]:
if x:
    print('yes')

In [4]:
if y:
    print('yes')

yes

In [5]:
if 'abc' in 'abcde':
    print('yes')

yes

In [7]:
if 'abcf' in 'abcde':
    print('statement 1')
    print('statement 2')    
    print('statement 3')

print('statement diluar')

statement diluar

In [10]:
x = 10

if x < 50:
    print('Statement 1')
else:
    print('Statement 2')

Statement 1

In [18]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 25000

if uang > hargaBuku:
    print('beli buku')
elif uang > hargaMajalah:
    print('beli majalah')
else:
    print('uang tidak cukup')

beli buku

In [19]:
if 'a' in 'abc': print(1); print(2); print(3)

1
2
3

In [20]:
if 'a' in 'bcd': print(1)
elif 'a' in 'cde': print(2)
else: print(3)

3

In [30]:
age1 = 12
age2 = 24

ageTarget = 22

'teenager' if ageTarget > age1 & ageTarget < age2 else 'adult'

'teenager'

In [22]:
if True:
    pass

In [40]:
n = 5

while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [38]:
n = 5

# 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)

print('Loop selesai')

4
3
Loop selesai

In [41]:
n = 5

# 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)

print('Loop selesai')

4
3
1
0
Loop selesai

In [45]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('--', b.pop(0))

foo
-- baz
-- qux
bar
-- baz
-- qux

In [46]:
a = [1, 2, 3]

In [47]:
for i in a:
    print(i)

1
2
3

In [49]:
input('Masukan ...')

Masukan ...nama saya

'nama saya'

In [51]:
temp = input('ketikan temperatur yang ingin dikonversi, contoh: 45C, 75F')

ketikan temperatur yang ingin dikonversi, contoh: 45C, 75F75F

In [52]:
temp

'75F'

In [53]:
degree = int(temp[:-1])
satuan = temp[-1]

degree, satuan

(75, 'F')

In [54]:
if satuan == 'C':
    result = (9 * degree) / 5 + 23
elif satuan == 'F':
    result = (degree - 32) * 5 / 9
else:
    print('masukan input yang benar')
    
print('temperaturnya adalah', result)

temperaturnya adalah 23.88888888888889

In [57]:
temp = input('ketikan temperatur yang ingin dikonversi, contoh: 45C, 75F')
degree = int(temp[:-1])
satuan = temp[-1]

if satuan == 'C':
    result = (9 * degree) / 5 + 23
    print('temperaturnya adalah', result)
elif satuan == 'F':
    result = (degree - 32) * 5 / 9
    print('temperaturnya adalah', result)
else:
    print('masukan input yang benar')

ketikan temperatur yang ingin dikonversi, contoh: 45C, 75F80
masukan input yang benar