In [1]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

In [2]:
elearn = pd.read_excel('./dataset/ELearn_2020.xlsx', sheet_name='Elearning_Prepost', skiprows=range(0), skipfooter=2)

Kita ingin mengevaluasi pelaksanaan E-Learning Wawasan Kebangsaan

In [4]:
elearn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289055 entries, 0 to 289054
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   BULAN          289055 non-null  int64
 1   USERNAME       289055 non-null  object
 2   CFU/FU         288917 non-null  object
 3   DIVISI         288916 non-null  object
 4   NAME           289052 non-null  object
 5   SURNAME        289055 non-null  object
 6   HCBP           288740 non-null  object
 7   COURSE         289055 non-null  object
 8   TGL PRE TEST   284908 non-null  object
 9   PRE TEST       284908 non-null  object
 10  TGL POST TEST  289055 non-null  object
 11  POST TEST      289055 non-null  object
 12  STATUS         289055 non-null  object
 13  JOB FAMILY     108029 non-null  object
dtypes: int64(1), object(13)
memory usage: 30.9+ MB

In [8]:
d_elearn = elearn[['COURSE', 'CFU/FU', 'DIVISI', 'NAME', 'POST TEST', 'STATUS']]

In [9]:
d_elearn.set_index('COURSE', inplace=True)

In [11]:
wasbang = d_elearn.loc['Wawasan Kebangsaan']

In [13]:
print(wasbang)

                            CFU/FU   DIVISI                     NAME  \
COURSE
Wawasan Kebangsaan    CFU CONSUMER  DIV-TR2             BUDI HARJONO
Wawasan Kebangsaan    CFU CONSUMER  DIV-TR2              AGUS TRIONO
Wawasan Kebangsaan    CFU CONSUMER  DIV-TR1             ZAINAL BAHRI
Wawasan Kebangsaan          FU HCM  CTR-TCU                  TONTOWI
Wawasan Kebangsaan    CFU CONSUMER  DIV-TR6               ABDUL MUIS
...                            ...      ...                      ...
Wawasan Kebangsaan  CFU ENTERPRISE  JVC-CIP            Rian Rizkiana
Wawasan Kebangsaan          FU HCM  JVC-YPT   MAULANA REZI RAMADHANA
Wawasan Kebangsaan  CFU ENTERPRISE  JVC-PCM            Mohamad Iqbal
Wawasan Kebangsaan  CFU ENTERPRISE  JVC-ADM   HENDY ADRIAN WICAKSONO
Wawasan Kebangsaan               T        T  NGAKAN MADE BAYU ADITYA

                   POST TEST       STATUS
COURSE
Wawasan Kebangsaan         -  BELUM AKSES
Wawasan Kebangsaan         -  BELUM AKSES
Wawasan Kebangsaan        80        LULUS
Wawasan Kebangsaan         -  BELUM AKSES
Wawasan Kebangsaan        70        LULUS
...                      ...          ...
Wawasan Kebangsaan        70        LULUS
Wawasan Kebangsaan        95        LULUS
Wawasan Kebangsaan        90        LULUS
Wawasan Kebangsaan        75        LULUS
Wawasan Kebangsaan        80        LULUS

[25718 rows x 5 columns]